@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3b3f5c #f1f1f1;
}

/* Handle on hover */
*:hover {
    scrollbar-color: #3b3f5c #f1f1f1;
}

@layer base{
    @font-face {
        font-family: 'Rethink';
        src: url('./assets/font/RethinkSans-VariableFont_wght.woff') format('woff');
    }
    @font-face {
        font-family: 'Poppins';
        src: url('./assets/font/Poppins-Medium.woff') format('woff');
    }
}